.header-component {
  // box-shadow: 0px 0px 40px 0px rgb(82 63 105/ 20%) !important;
  // position: fixed;

  .header-container {
    height: 80px;
    background-color: #fff;

    .logo {
      width: 80px;
      height: 100%;
      background-color: #3a7afe;

      img {
        height: 48px;
        width: 55px;
      }
    }

    .sidenav-mobile {
      .sidenav-container {
        height: 100%;
      }

      .sidenav {
        width: 200px;
      }

      .sidenav .mat-toolbar {
        background: inherit;
      }

      .mat-toolbar.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    .main-title {
      width: 255px !important;

      .title {
        font-size: 28px;
        font-weight: 500;
      }
    }

    .header-content {
      padding: 0px 20px;
      width: calc(100% - 335px);

      .searchbar {
        input {
          border-radius: 10px;
          padding-left: 30px;
          color: #181c32;
          border: 1px solid #d7dae3;
          font-weight: 500;
          background-color: #ebeef6;
        }

        i {
          left: 20px
        }
      }

      .profile {
        .img-content {
          img {
            width: 40px;
            height: 40px;
          }
        }

        .profile-content {
          span {
            font-size: 16px;
            font-weight: 500;
          }

          p {
            margin-bottom: 0px;
            font-size: 13px;
          }
        }

        .notify {
          margin-right: 10px;

          a {
            color: #464a53;
            background-color: #ebeef6;
            border-radius: 4px;
          }
        }
      }

      .right-toggler {
        a {
          color: #464a53 !important;
        }
      }

      a:hover svg {
        transform: scale(1.2);
      }
    }
  }
}
