<div class="sidebar-component">
  <div class="sidebar-container d-flex">
    <div class="sidelist d-flex align-items-start flex-column">
      <ul class="list d-flex flex-column py-4">
        <li id="1" class="nav-item active" (click)="changeTab(1)">
          <a class="nav-link" data-toggle="tab">
            <svg id="1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-box">
              <path
                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                style="stroke-dasharray: 61, 81; stroke-dashoffset: 0;"></path>
              <path d="M3.27,6.96L12,12.01L20.73,6.96" style="stroke-dasharray: 21, 41; stroke-dashoffset: 0;"></path>
              <path d="M12,22.08L12,12" style="stroke-dasharray: 11, 31; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="2" class="nav-item" (click)="changeTab(2)">
          <a class="nav-link" data-toggle="tab">
            <svg id="2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-home">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
              <path d="M9,22L9,12L15,12L15,22" style="stroke-dasharray: 26, 46; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="3" class="nav-item" (click)="changeTab(3)">
          <a class="nav-link active" data-toggle="tab">
            <svg id="3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-users">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                style="stroke-dasharray: 25, 45; stroke-dashoffset: 0;"></path>
              <path d="M5,7A4,4 0,1,1 13,7A4,4 0,1,1 5,7" style="stroke-dasharray: 26, 46; stroke-dashoffset: 0;">
              </path>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75" style="stroke-dasharray: 11, 31; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="4" class="nav-item" (click)="changeTab(4)">
          <a class="nav-link" data-toggle="tab">
            <svg id="4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-globe">
              <path d="M2,12A10,10 0,1,1 22,12A10,10 0,1,1 2,12"
                style="stroke-dasharray: 63, 83; stroke-dashoffset: 0;"></path>
              <path d="M2,12L22,12" style="stroke-dasharray: 20, 40; stroke-dashoffset: 0;"></path>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                style="stroke-dasharray: 45, 65; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="5" class="nav-item" (click)="changeTab(5)">
          <a class="nav-link" data-toggle="tab">
            <svg id="5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-file-text">
              <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
              <path d="M14,2L14,8L20,8" style="stroke-dasharray: 12, 32; stroke-dashoffset: 0;"></path>
              <path d="M16,13L8,13" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
              <path d="M16,17L8,17" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
              <path d="M10,9L9,9L8,9" style="stroke-dasharray: 2, 22; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="6" class="nav-item" (click)="changeTab(6)">
          <a class="nav-link" data-toggle="tab">
            <svg id="6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-server">
              <path width="20" height="8" d="M2 2 L22 2 L22 10 L2 10 Z"
                style="stroke-dasharray: 56, 76; stroke-dashoffset: 0;"></path>
              <path width="20" height="8" d="M2 14 L22 14 L22 22 L2 22 Z"
                style="stroke-dasharray: 56, 76; stroke-dashoffset: 0;"></path>
              <path d="M6,6L6,6" style="stroke-dasharray: 0, 20; stroke-dashoffset: 0;"></path>
              <path d="M6,18L6,18" style="stroke-dasharray: 0, 20; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
        <li id="7" class="nav-item" (click)="changeTab(7)">
          <a class="nav-link" data-toggle="tab">
            <svg id="7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-grid">
              <path width="7" height="7" d="M3 3 L10 3 L10 10 L3 10 Z"
                style="stroke-dasharray: 28, 48; stroke-dashoffset: 0;"></path>
              <path width="7" height="7" d="M14 3 L21 3 L21 10 L14 10 Z"
                style="stroke-dasharray: 28, 48; stroke-dashoffset: 0;"></path>
              <path width="7" height="7" d="M14 14 L21 14 L21 21 L14 21 Z"
                style="stroke-dasharray: 28, 48; stroke-dashoffset: 0;"></path>
              <path width="7" height="7" d="M3 14 L10 14 L10 21 L3 21 Z"
                style="stroke-dasharray: 28, 48; stroke-dashoffset: 0;"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="side-content">
      <div class="selected-panel tab">
        <div class="title pb-2">
          {{selectedData.title}}
        </div>
        <ul class="sublist p-2">
          <div *ngFor="let subdata of selectedData.sublist">
            <li class="d-flex align-items-center justify-content-between" (click)="openlist(subdata.name)">
              <div><i class="{{subdata.iconurl}}"></i> {{subdata.name}}</div>
              <div *ngIf="subdata.qty > 0"><i class="fa fa-angle-right"></i></div>
            </li>
            <div *ngIf="subdata.name === name">
              <div #next class="next" *ngFor="let data of subdata.next">
                <a>
                  {{data}}
                </a>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="stats tab">
        Daily Sales
      </div>
      <div class="stats  tab">
        Profit Share
      </div>
      <div class="stats tab">
        Visitor By Browser
      </div>
    </div>
  </div>
</div>
