<div class="dashboard-component">
  <div class="dashboard-container p-4">

    <div class="content">
      Add Your Dashboard Content
    </div>
    <div class="content">
      Add Your Dashboard Content
    </div>
    <div class="content">
      Add Your Dashboard Content
    </div>
    <div class="content">
      Add Your Dashboard Content
    </div>
    <div class="content">
      Add Your Dashboard Content
    </div>
    <div class="content">
      Add Your Dashboard Content
    </div>

  </div>
</div>
